/* Custom Styles */
body {
  background-color: #fff;
  color: #333;
}

.jumbotron {
  background-color: #FF8A00;
  color: #fff;
  padding-top: 50px;
  /* Adjusted padding */
  padding-bottom: 50px;
  /* Adjusted padding */
}

.navbar {
  background-color: #343a40;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .8);
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.logo {
    height: 50px; /* Adjust the height as needed */
    margin-right: 15px; /* Space between logo and text */
}

footer {
  padding: 20px 0;
  text-align: center;
}  
